

h1 {
  font-family: Raleway;
  font-size: 2em;
  font-weight: bold;
color: #707070;

}
h3 {
font-size: 1.3em;
font-weight: bold
}

p {
  font-family: Roboto, sans-serif;
}

.App {
  margin: auto;
  width: 100%;
  margin-top: 50px;
  font-family: Raleway, sans-serif;
  
}
a{
  text-decoration: underline;
  color: #999;
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;

}

.value-prop {
  text-align: center;
  padding: 10px;
box-sizing: border-box;
}
.value-img{
margin-bottom:50px;
width: 80vw;
max-width: 100px;
}


li {
font-family: 'Open sans'}